// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
  font-size: 14px;
  margin-bottom: 70px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.fh5co-form {
  padding: 30px;
  margin-top: 4em;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

// 输入框placeholder的颜色
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #cbd1d7 !important;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #cbd1d7 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #cbd1d7 !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cbd1d7 !important;
}

// 输入框警告
.form-control:focus {
  box-shadow: none;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: #d36b75;
}

.invalid-feedback {
    color: #d36b75;
}

.form-control.is-invalid {
    border-color: #d36b75;
    background-image: none;
}

a:hover {
  text-decoration: none;
}

p {
  color: #636b6f;
}

// 极验loading
.loading {
  border: solid 1px #ced4da;
  border-radius: 2px;
  background-color: #f8f8f8
}

.sk-three-bounce {
  width: 100%;
  height: 44px;
  margin: auto;
  text-align: center;
}

.sk-three-bounce .sk-child {
  width: 0.8em;
  height: 0.8em;
  margin-top: 14.5px;
  background-color: #3873ff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #337ab7;
  border-radius: 100%;
  -webkit-animation: sk-circle-bounce-delay 1.2s infinite ease-in-out both;
  animation: sk-circle-bounce-delay 1.2s infinite ease-in-out both;
}

// 极验没有验证时的提示样式
.message {
  color: #d36b75;
  font-size: 80%;
  display: block;
  margin-top: 0.25rem;
}