// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

body {
  font-size: 14px;
  margin-bottom: 70px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.fh5co-form {
  padding: 30px;
  margin-top: 4em;
  -webkit-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 7px 46px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

// 输入框placeholder的颜色
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #cbd1d7 !important;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #cbd1d7 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #cbd1d7 !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cbd1d7 !important;
}

// 输入框警告
.form-control:focus {
  box-shadow: none;
}

.form-control.is-invalid:focus {
    box-shadow: none;
    border-color: #d36b75;
}

.invalid-feedback {
    color: #d36b75;
}

.form-control.is-invalid {
    border-color: #d36b75;
    background-image: none;
}

a:hover {
  text-decoration: none;
}

p {
  color: #636b6f;
}